@import "./global.scss";
@import "./mixins.scss";

.amb-header-container {
  height: 100%;
  color: var(--Gray1_Grays);

  max-width: 1115px;
  padding: 10% 0 0 0;
  padding: 10% 15px;
  display: var(--grid);
  grid-template-columns: var(--reponsive-grid-2col);
  align-items: flex-start;
  margin: auto;

  @include for-phone-only {
    padding: 2% 15px;
  }
  .aside-text-content {
    & .amb-h1 {
      font-size: 48px;
      font-weight: 800;
      position: relative;
      width: 752px;
      color: var(--Green_Accent);

      padding: 8% 0 0 0;

      & span {
        color: #fff;
      }
    }

    @include for-phone-only {
      .amb-h1 {
        font-size: 24px;
        word-wrap: normal;
        width: 100%;
        padding-top: 1%;
      }
    }
  }
}

.aside-background {
  max-width: 100%;
  height: auto;

  & img {
    width: 600px;
  }
}

.button-purple-stroke {
  padding: 8px 12px;
  border: 1px solid var(--Purple1_Secondary);
  border-radius: 10px;

  background: transparent;
  color: var(--Purple1_Secondary);
  outline: none;
  cursor: pointer;
  margin-bottom: 1em;
}

.button-green-fill {
  padding: 8px 12px;
  border: none;
  border-radius: 10px;

  background: var(--Green_Accent);
  color: var(--NoonDark1_Neutrals);
  outline: none;
  cursor: pointer;
  margin: 0 15px;
  margin-bottom: 1em;
}

@include for-phone-only {
  .button-green-fill,
  .button-purple-stroke {
    padding: 0.5rem 1rem;
    font-size: 14px;
  }
  .buttons {
    display: flex;
  }
}
