#ambassador-page {
  background: var(--NoonDark1_Neutrals);
  color: var(--Gray1_Grays);
}

.amb-header-container {
  height: 100%;

  max-width: 1115px;
  padding: 10% 0 0 0;
  display: var(--grid);
  grid-template-columns: var(--reponsive-grid-2col);
  align-items: flex-start;

  margin: auto;

  .aside-text-content {
    & .amb-h1 {
      font-size: 48px;
      font-weight: 800;
      position: relative;
      width: 758px;
      color: var(--Green_Accent);

      padding: 8% 0 0 0;

      & span {
        color: #fff;
      }
    }
  }
}

.aside-background {
  max-width: 100%;
  height: auto;

  & img {
    width: 600px;
  }
}

.button-purple-stroke {
  padding: 15px 18px;
  border: 1px solid var(--Purple1_Secondary);
  border-radius: 10px;

  background: transparent;
  color: var(--Purple1_Secondary);
  outline: none;
  cursor: pointer;
}

.button-green-fill {
  padding: 15px 18px;
  border: none;
  border-radius: 10px;

  background: var(--Green_Accent);
  color: var(--NoonDark1_Neutrals);
  outline: none;
  cursor: pointer;
  margin: 0 15px;
}

.section1-container {
  background: linear-gradient(
      0deg,
      rgba(16, 17, 23, 0.8),
      rgba(16, 17, 23, 0.8)
    ),
    url("../images/teens.png") var(--no-repeat) var(--center-X-Y) / var(--cover);
  height: 100%;

  display: var(--flex);
  align-items: var(--center);
  flex-direction: var(--column);

  margin: 10% 0 0 0;
  padding: 5% 0 0 0;

  .sec1-content-wrapper {
    width: 600px;
    display: flex;
    flex-direction: var(--column);
    align-items: var(--center);
  }

  .sec1-text-wrapper {
    width: 100%;

    background: rgba(251, 215, 255, 0.1);
    color: var(--WhiteOpacity90_Neutrals);
    border-radius: 10px;

    margin: 40px 0px;
    padding: 25px;
  }

  .sec1-h1 {
    color: #fff;
    font-size: 36px;

    & span {
      color: var(--Purple1_Secondary);
      display: inline-block;
      padding: 0 12px;
    }
  }

  .feature-box {
    height: 340px;
    max-width: 100%;
    padding: 10% 0 0 0;

    & img {
      width: 100%;
      height: 100%;
    }
  }
}

.section2-container {
  background: var(--BgColor);
  color: var(--NoonDark2_Neutrals);
  padding: 5% 0 10% 0;
}

.amb-colored-title {
  color: var(--Purple1_Secondary);

  & h2:nth-child(1) {
    color: var(--NoonDark2_Neutrals);
  }
}

.section3-container {
  background-color: var(--NoonDark2_Neutrals);
  height: 100%;

  display: var(--flex);
  align-items: var(--center);
  flex-direction: var(--column);

  padding: 5% 0 5% 0;
  //   margin: 10% 0 0 0;

  .join-wB-container {
    max-width: 100%;
    padding: 5% 0 0 0;
    display: var(--grid);
    grid-template-columns: var(--reponsive-grid-2col);
    align-items: var(--center);

    .join-list-items {
      list-style: none;
      width: 450px;

      .list-title {
        display: flex;
        align-items: center;

        & svg {
          margin: 0 10px 0 0;
        }
      }
    }
  }
}

.list1 {
  color: var(--Green_Accent);
}
.list2 {
  color: var(--Purple1_Secondary);
}
.list3 {
  color: var(--Peach1_Primary);
}

.section4-container {
  max-width: 960px;
  height: 100%;

  padding: 5% 0 5% 0;
  margin: auto;

  & a {
    color: var(--Peach1_Primary);
    text-decoration: none;
  }

  & h3 {
    text-align: center;
  }
}
