.blog-header-image {
  background: var(--Bg-overlay),
    url("../images/blog_image.jpg") var(--no-repeat) var(--center-X-Y) /
      var(--cover);

  h1 {
    margin: auto;
  }
}

.author-wrapper {
  display: var(--flex);
  align-items: var(--center);

  & img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 2%;
  }
}

.blog-view-container {
  display: var(--grid);
  grid-template-columns: var(--reponsive-grid-2col);
  grid-column-gap: 2em;
  align-items: center;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 2em 15px;
}

// Single blog post

.blog-post-container {
  width: 100%;
  max-width: 760px;
  margin: auto;
  padding: 6em 15px;
}
