@import "./mixins.scss";

.privacy_image {
  background: var(--Bg-overlay),
    url("../images/privacy_image.jpg") var(--no-repeat) var(--center-X-Y) /
      var(--cover);

  h3 {
    margin: auto;
  }
}

.terms_image {
  background: var(--Bg-overlay),
    url("../images/terms_image.jpg") var(--no-repeat) var(--center-X-Y) /
      var(--cover);

  div {
    width: max-content;
    margin: auto;
    text-align: center;
  }
}

@include for-phone-only {
  h1 {
    font-size: 26px;
  }
}
