@import "../../styles/mixins.scss";

.left-aside-container {
  width: 100%;
  max-width: 1115px;

  display: var(--grid);
  grid-template-columns: var(--reponsive-grid-2col);
  grid-column-gap: 2em;

  margin: auto;
  padding: 5% 0 5% 0;

  .img-container {
    max-width: 100%;
    height: auto;
    // margin-left: auto;

    & img {
      width: 400px;
    }
  }
  // @include for-tablet-portait-only {
  //   grid-template-columns: 1fr;
  //   justify-content: center;
  // }
  // @include for-phone-only {
  //   justify-content: center;
  //   grid-template-columns: 1fr;
  // }
}

.right-aside-container {
  width: 100%;
  max-width: 1115px;

  display: var(--grid);
  grid-template-columns: var(--reponsive-grid-2col);
  grid-column-gap: 2em;

  margin: auto;
  padding-top: 10%;

  .right-image-wrapper {
    margin-left: auto;

    max-width: 100%;
    height: auto;
    // margin-left: auto;

    & img {
      width: 400px;
    }
  }
  // @include for-tablet-portait-only {
  //   grid-template-columns: 1fr;
  //   // justify-content: center;
  // }
}

.download-buttons {
  display: flex;
}
@include for-phone-only {
  .write-up {
    margin-top: -16rem;
    background: var(--WhiteOpacity90_Neutrals);
    backdrop-filter: blur(40px);
  }
  .landing-color3 .write-up {
    background: var(--WhiteOpacity90_Neutrals);
    backdrop-filter: blur(40px);
  }
}
