.collapsible-card {
  margin: 2rem 0px;
  color: #cbcee5;
  background: rgb(203, 206, 229, 0.2);
  border-radius: 10px;

  .drop--down__container {
    display: flex;
    align-items: center;
    height: auto;
    justify-content: center;

    padding: 10px 15px;

    cursor: pointer;
  }

  .title-and-toggle {
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }

  .body {
    padding: 0 1em 1em 1em;
    line-height: 2;
    background: #000000;
    &.collapsed {
      display: none;
    }
    p {
      padding-top: 1em;
      padding-bottom: 1.5em;
    }
  }
}
