@import "../../styles/theme";
@import "../../styles/mixins";

header {
  background: rgba(3, 3, 6, 0.9);
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 15px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1115px;
    margin: 0 auto;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .nav {
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    * {
      box-sizing: border-box;
    }

    a {
      margin-right: 2rem;
    }
    @include for-phone-only {
      a {
        margin-right: 0rem;
      }
    }
  }

  .logoNmenu {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .menu {
    background: none;
    border: none;
    color: var(--Purple1_Secondary);
  }

  .show {
    display: block;
    flex-grow: 1;
  }

  @media (min-width: 768px) {
    .nav {
      display: inline-flex;
      flex-direction: row;
    }
    .menu {
      display: none;
    }
  }
}

.button-container {
  & a {
    text-decoration: none;
  }
}

.button-wrapper {
  background: var(--Purple1_Secondary);
  position: relative;
  border-radius: 10px;
  cursor: pointer;
  list-style: none;
  text-align: center;
  outline: var(--Purple1_Secondary);

  padding: 10px 15px;

  & span {
    color: #fff;
  }
}

.ambassador {
  background: var(--Green_Accent);
  & span {
    color: var(--NoonDark1_Neutrals);
  }
}

.button-container .dropdown {
  background: var(--Purple1_Secondary);
  border-radius: 10px;
  visibility: hidden;
  opacity: 0.4;
  height: auto;
  width: 100%;
  position: absolute;
  transition: all 0.5s ease;
  left: 0;
  display: none;
}

.button-container .button-wrapper:hover > .dropdown,
.button-container .button-wrapper .dropdown:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.dropdown {
  height: auto;
  padding: 1em 0 1em 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
  width: 100%;
  list-style: none;
}

.read-blog-link {
  display: var(--flex);
  align-items: var(--center);
  color: var(--WhiteOpacity90_Neutrals);
}
