.landing-hero-container {
  padding: 0 15px;
  background: var(--Bg-overlay),
    url("../../images/hero_image.jpg") var(--no-repeat) var(--center-X-Y) /
      var(--cover);
  height: 90vh;

  display: var(--grid);
  grid-template-columns: var(--reponsive-grid-2col);

  overflow: hidden;

  .text-wrapper {
    display: var(--flex);
    flex-direction: var(--column);
  }

  .content-wrapper {
    max-width: 1115px;
    padding: 10% 0 0 0;
    display: var(--grid);
    grid-template-columns: var(--reponsive-grid-2col);

    overflow: hidden;

    margin: auto;

    color: var(--WhiteOpacity90_Neutrals);
  }

  .hero-mockup-container {
    max-width: 100%;
    height: auto;
    margin-left: auto;

    & img {
      width: 450px;
    }
  }
}

.landing-color1 {
  padding: 0 15px;
  background: var(--Green_Accent);
}
.landing-color2 {
  padding: 0 15px;
  background: var(--Purple1_Secondary);
  color: var(--WhiteOpacity90_Neutrals);
}
.landing-color3 {
  padding: 0 15px;
  background: var(--Peach1_Primary);
}

.testimonial-container {
  background: rgba(127, 90, 240, 0.8);
  color: var(--WhiteOpacity90_Neutrals);
  height: 100%;
  padding: 5% 0 10% 0;
  // margin-top: 5em;

  display: flex;
  align-items: center;
  flex-direction: var(--column);

  .testimonial-inner-container {
    width: 100%;
    max-width: 353px;
    margin: 0.5rem;
    background: var(--WhiteOpacity90_Neutrals);
    color: var(--NoonDark2_Neutrals);
    padding: 10px 15px;

    border-radius: 15px;

    .testimonial-text-container {
      & strong {
        color: var(--Purple1_Secondary);
      }
    }
  }

  .testimonial-image {
    max-width: 100%;
    height: auto;
    margin-left: auto;

    & img {
      width: 60px;
      height: 60px;
      object-fit: cover;
      border-radius: 25%;
    }
  }

  .testimonial-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // grid-template-columns: var(--reponsive-grid-1col);
    // grid-column-gap: 2em;

    max-width: 1115px;
    margin: auto;
  }
  //   display: grid;
  //   grid-template-columns: var(--reponsive-grid-1col);
  //   grid-column-gap: 2em;

  //   max-width: 1115px;
  //   margin: auto;
  // }

  .testimonial-header {
    display: var(--flex);
    align-items: var(--center);
    flex-direction: var(--column);
    padding-bottom: 5%;
  }

  @media (max-width: 720px) {
    background: #f6f8fa;

    .testimonial-inner-container {
      max-width: 100%;
    }

    .testimonial-header {
      color: var(--NoonDark2_Neutrals);
    }
  }
}

.downloads-container {
  background: var(--Purple1_Secondary);
  color: var(--WhiteOpacity90_Neutrals);
  // height: 100%;
  padding: 10% 0 10% 0;

  display: flex;
  align-items: var(--center);
  flex-direction: var(--column);

  .growth-number-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: var(--center);
    justify-content: center;
  }

  p {
    text-align: center;
  }
  .download-links {
    text-align: center;
  }
}

.downloads-aside {
  background: var(--WhiteOpacity90_Neutrals);
  color: var(--NoonDark2_Neutrals);

  padding: 20px 10px;
  max-width: 300px;
  width: 100%;
  // margin: 0 10px;
  margin: 0.5rem;

  text-align: var(--center);
  border-radius: 15px;

  & h2 {
    color: var(--Purple1_Secondary);
  }

  @media (max-width: 720px) {
    margin: 0.3rem 0.9rem;
    max-width: 400px;
  }
}

.download-buttons {
  display: flex;
}
